<div class="filters">
  <div class="filter-head">
    <span class="head-title">FILTERS</span>
  </div>
  <div class="filter-categories">
    <span class="filter-title">Categories</span>
    <ul class="categories-list">
      <li *ngFor="let category of categories">
        <label for="" class="custom-checkbox">
          <input type="checkbox" [value]="category.id" />
          {{ category.name }}
          <span class="categories-num">(125431)</span>
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
  </div>
  <div class="filter-brands">
    <span class="filter-title">Brand</span>
    <div
      class="filter-searchbox"
      [class.filter-search-expanded]="brandsExpanded"
    >
      <input
        type="text"
        class="search-inputBox"
        placeholder="Search for Brands"
        [class.search-hidden]="!brandsExpanded"
      />
      <span
        class="material-icons-outlined search-icon"
        (click)="toggleBrandsSearch()"
      >
        {{ brandsExpanded ? "clear" : "search" }}
      </span>
    </div>
    <ul class="brands-list" *ngIf="brands.length !== 0">
      <li *ngFor="let brand of brands">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="brand.id"
            (change)="toggleBrand(brand.id)"
          />
          {{ brand.name }}
          <span class="categories-num">(125431)</span>
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
    <ul *ngIf="brands.length === 0">
      <li>No brands found</li>
    </ul>
  </div>
  <div class="filter-colors">
    <span class="filter-title">Color</span>
    <div
      class="filter-searchbox"
      [class.filter-search-expanded]="colorsExpanded"
    >
      <input
        type="text"
        class="search-inputBox search-hidden"
        placeholder="Search for Colors"
        [class.search-hidden]="!colorsExpanded"
      />
      <span
        class="material-icons-outlined search-icon"
        (click)="toggleColorsSearch()"
      >
        {{ colorsExpanded ? "clear" : "search" }}
      </span>
    </div>
    <ul>
      <li class="color-item" *ngFor="let color of colors">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="color.id"
            (change)="toggleColor(color.id)"
            [checked]="selectedColors.includes(color.id)"
          />
          <span
            class="colour-label colour-colorDisplay"
            [style.background-color]="color.code"
          ></span>
          {{ color.name }}
          <span class="colour-num">(125431)</span>
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
  </div>
  <div class="filter-discount">
    <span class="filter-title">Discount Range</span>
    <ul class="brands-list">
      <li>
        <label for="" class="custom-checkbox">
          <input
            type="radio"
            value="10"
            name="discountRange"
            (change)="selectDiscount('10')"
            [checked]="selectedDiscount === '10'"
          />
          10% and above
          <div class="checkbox-indicator"></div>
        </label>
      </li>
      <li>
        <label for="" class="custom-checkbox">
          <input
            type="radio"
            value="20"
            name="discountRange"
            (change)="selectDiscount('20')"
            [checked]="selectedDiscount === '20'"
          />
          20% and above
          <div class="checkbox-indicator"></div>
        </label>
      </li>
      <li>
        <label for="" class="custom-checkbox">
          <input
            type="radio"
            value="30"
            name="discountRange"
            (change)="selectDiscount('30')"
            [checked]="selectedDiscount === '30'"
          />
          30% and above
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
  </div>
</div>
