<div class="filters">
  <div class="filter-head">
    <span class="head-title">FILTERS</span>
  </div>
  <div class="filter-categories">
    <span class="filter-title">Categories</span>
    <ul class="categories-list">
      <li *ngFor="let category of categories">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="category.id"
            (change)="toggleCategory(category.id)"
          />
          {{ category.name }}
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
  </div>
  <div class="filter-brands">
    <span class="filter-title">Brand</span>
    <div
      class="filter-searchbox"
      [class.filter-search-expanded]="brandsExpanded"
    >
      <input
        type="text"
        class="search-inputBox"
        placeholder="Search for Brands"
        [(ngModel)]="brandSearchText"
        [class.search-hidden]="!brandsExpanded"
        (input)="applyFilters()"
      />
      <span
        class="material-icons-outlined search-icon"
        (click)="toggleBrandsSearch()"
      >
        {{ brandsExpanded ? "clear" : "search" }}
      </span>
    </div>
    <ul class="brands-list" *ngIf="filteredBrands.length !== 0">
      <li *ngFor="let brand of filteredBrands">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="brand.id"
            (change)="toggleBrand(brand.id)"
          />
          {{ brand.name }}
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
    <ul *ngIf="filteredBrands.length === 0 && brandSearchText.length > 0">
      <li>No brands found</li>
    </ul>
  </div>
  <div class="filter-colors">
    <span class="filter-title">Color</span>
    <div
      class="filter-searchbox"
      [class.filter-search-expanded]="colorsExpanded"
    >
      <input
        type="text"
        class="search-inputBox search-hidden"
        placeholder="Search for Colors"
        [(ngModel)]="colorSearchText"
        [class.search-hidden]="!colorsExpanded"
        (input)="applyFilters()"
      />
      <span
        class="material-icons-outlined search-icon"
        (click)="toggleColorsSearch()"
      >
        {{ colorsExpanded ? "clear" : "search" }}
      </span>
    </div>
    <ul *ngIf="filteredColors.length !== 0">
      <li class="color-item" *ngFor="let color of filteredColors">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="color.id"
            (change)="toggleColor(color.id)"
            [checked]="selectedColors.includes(color.id)"
          />
          <span
            class="colour-label colour-colorDisplay"
            [style.background-color]="color.code"
          ></span>
          {{ color.name }}
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
    <ul *ngIf="filteredColors.length === 0 && colorSearchText.length > 0">
      <li>No colors found</li>
    </ul>
  </div>
  <div class="filter-discount">
    <span class="filter-title">Discount Range</span>
    <ul class="brands-list">
      <li class="color-item" *ngFor="let discount of discounts">
        <label for="" class="custom-checkbox">
          <input
            type="checkbox"
            [value]="discount.id"
            (change)="toggleDiscount(discount.id)"
            [checked]="selectedDiscount.includes(discount.id)"
          />
          <span class="colour-label colour-colorDisplay"></span>
          {{ discount.percent }}
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul>
    <!-- <ul class="brands-list">
      <li>
        <label for="" class="custom-checkbox">
          <input
            type="radio"
            value="10"
            name="discountRange"
            (change)="selectDiscount('10')"
            [checked]="selectedDiscount === '10'"
          />
          10% and above
          <div class="checkbox-indicator"></div>
        </label>
      </li>
    </ul> -->
  </div>
</div>
