<header class="header">
  <!-- <div class="message">
    <span class="material-icons-outlined speaker-icon"> volume_up </span>
    <p class="updates">We are currently updating our application</p>
  </div> -->
  <div class="header-bound">
    <div class="logoContainer">
      <img
        src="https://cfdblob.blob.core.windows.net/logo/CDK_Logo.png"
        alt=""
        class="logo"
        routerLink="/"
      />
    </div>
    <!-- Your template -->
    <nav class="navbar">
      <div class="nav-links">
        <div
          class="nav-content"
          *ngFor="let parentCategory of parentCategories"
        >
          <div class="nav-link">
            <span class="main">{{ parentCategory.name }}</span>
            <div class="pane-content">
              <div class="category-container">
                <div class="nav-blocks-container">
                  <ng-container
                    *ngFor="
                      let column of calculateColumns(parentCategory.id);
                      let i = index
                    "
                  >
                    <div
                      class="nav-block"
                      [ngClass]="{ 'even-bg': i % 2 === 1 }"
                    >
                      <ng-container *ngFor="let item of column; let j = index">
                        <ng-container *ngIf="item.category">
                          <a
                            [routerLink]="['/filtered-posts']"
                            [queryParams]="{
                              parent: parentCategory.id,
                              category: item.id
                            }"
                            [ngClass]="{
                              'category-name category-head': true,
                              'first-head': j === 0
                            }"
                          >
                            {{ item.name }}
                          </a>
                        </ng-container>
                        <ng-container *ngIf="!item.category">
                          <a
                            [routerLink]="['/filtered-posts']"
                            [queryParams]="{
                              parent: parentCategory.id,
                              category: item.categoryId,
                              subCategory: item.subCategoryId
                            }"
                            class="category-name mt-10-tb hover-effect"
                          >
                            {{ item.name }}
                          </a>
                        </ng-container>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="query">
      <input
        type="text"
        placeholder="Search for products, brands, and more"
        class="searchbar"
      />
      <a href="" class="submit">
        <span class="material-icons-outlined icon-search"> search </span>
      </a>
    </div>
    <div class="action">
      <div class="user">
        <div class="user-icons">
          <span class="material-icons-outlined icon-user"> person </span>
          <span class="user-title">Profile</span>
        </div>
        <div class="user-actions">
          <div class="user-action-arrow">
            <div class="user-actions-content">
              <div class="content-info" *ngIf="!isUserLogedIn">
                <div class="info-title">Welcome</div>
                <div class="info-email">
                  To access account and manage actions
                </div>
              </div>
              <div class="content-info" *ngIf="isUserLogedIn">
                <div class="info-title">Hello {{ userName }}</div>
                <div class="info-email">{{ userMobile }}</div>
              </div>
              <div>
                <div
                  class="get-user-in-links .get-in-links"
                  *ngIf="!isUserLogedIn"
                >
                  <a class="link-btn" (click)="openLoginModal()"
                    >Login / Signup</a
                  >
                </div>
                <div class="get-in-links">
                  <div class="info" (click)="navigateToDashboard()">
                    <div class="info-section">Admin Dashboard</div>
                  </div>
                  <div class="info">
                    <div class="info-section" routerLink="/user/orders">
                      Orders
                    </div>
                  </div>
                  <div class="info">
                    <div class="info-section">Wishlist</div>
                  </div>
                  <div class="info">
                    <div class="info-section">Contact Us</div>
                  </div>
                  <div class="info" (click)="logout()" *ngIf="isUserLogedIn">
                    <div class="info-section">Logout</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wishlist" (click)="navigateToWishlist()">
        <span class="material-icons-outlined icon-wishlist">
          favorite_border
        </span>
        <div class="user-title">Wishlist</div>
      </div>
      <div class="cart" (click)="navigateToCart()">
        <span class="material-icons-outlined icon-bag"> shopping_bag </span>
        <span class="badge grey">{{ cartItemCount }}</span>
        <div class="user-title">Cart</div>
      </div>
    </div>
  </div>
</header>
