<header class="header">
  <nav class="nav-bar">
    <div class="logo">
      <img
        src="https://cdn.animaapp.com/projects/65cdb7433fc37da8406262ee/releases/65cdb7a065d4ab0eedd3c643/img/logo-align-transparent-1.png"
        alt="Logo"
        class="site-logo"
      />
    </div>
    <div class="nav-links">
      <div class="link" routerLink="">Home</div>
      <div class="link">Features</div>
      <div class="link">Testimonial</div>
      <div class="link">Pricing</div>
      <div class="link" routerLink="/account/sign-in">Sign in</div>
      <button class="btn-link" routerLink="/account/sign-in">
        Get Started
      </button>
    </div>
  </nav>
</header>
