<header class="header">
  <!-- <div class="message">
    <span class="material-icons-outlined speaker-icon"> volume_up </span>
    <p class="updates">We are currently updating our application</p>
  </div> -->
  <div class="header-bound">
    <div class="logoContainer">
      <img
        src="../../../../assets/logo.png"
        alt=""
        class="logo"
        routerLink="/"
      />
    </div>
    <!-- Your template -->
    <nav class="navbar">
      <div class="nav-links">
        <div
          class="nav-content"
          *ngFor="let parentCategory of parentCategories"
        >
          <div class="nav-link">
            <span class="main">{{ parentCategory.name }}</span>
            <div class="pane-content">
              <div class="category-container">
                <div class="nav-blocks-container">
                  <ng-container
                    *ngFor="
                      let column of calculateColumns(parentCategory.id);
                      let i = index
                    "
                  >
                    <div
                      class="nav-block"
                      [ngClass]="{ 'even-bg': i % 2 === 1 }"
                    >
                      <ng-container *ngFor="let item of column">
                        <a
                          [routerLink]="['/filtered-posts']"
                          [queryParams]="{
                            parent: parentCategory.id,
                            category: item.category.id
                          }"
                          class="category-name category-head"
                        >
                          {{ item.category.name }}
                        </a>
                        <ul class="subcategory-ul">
                          <li
                            *ngFor="let subcategory of item.subcategories"
                            class="subcategory-li"
                          >
                            <a
                              [routerLink]="['/filtered-posts']"
                              [queryParams]="{
                                parent: parentCategory.id,
                                category: item.category.id,
                                subCategory: subcategory.id
                              }"
                              class="category-name"
                            >
                              {{ subcategory.name }}
                            </a>
                          </li>
                        </ul>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <!-- <div class="odd-column-content">
                  <ul
                    class="nav-block"
                    [ngClass]="calculateColumns(parentCategory.id)"
                  >
                    <li
                      *ngFor="
                        let category of categoryMap[parentCategory.id];
                        let lastCategory = last;
                        let firstCategory = first
                      "
                    >
                      <a
                        [routerLink]="['/filtered-posts']"
                        [queryParams]="{
                          parent: parentCategory.id,
                          category: category.id
                        }"
                        class="category-name category-head"
                        >{{ category.name }}</a
                      >
                      <ul class="subcategory-ul">
                        <li
                          *ngFor="
                            let subcategory of subCategoryMap[category.id]
                          "
                          class="subcategory-li"
                        >
                          <a
                            [routerLink]="['/filtered-posts']"
                            [queryParams]="{
                              parent: parentCategory.id,
                              category: category.id,
                              subCategory: subcategory.id
                            }"
                            class="category-name"
                            >{{ subcategory.name }}</a
                          >
                        </li>
                      </ul>
                      <div *ngIf="!lastCategory" class="hr-line"></div>
                    </li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="query">
      <input
        type="text"
        placeholder="Search for products, brands, and more"
        class="searchbar"
      />
      <a href="" class="submit">
        <span class="material-icons-outlined icon-search"> search </span>
      </a>
    </div>
    <div class="action">
      <div class="user">
        <div class="user-icons">
          <span class="material-icons-outlined icon-user"> person </span>
          <span class="user-title">Profile</span>
        </div>
        <div class="user-actions">
          <div class="user-action-arrow">
            <div class="user-actions-content">
              <div class="content-info">
                <div class="info-title">Welcome</div>
                <div class="info-email">
                  To access account and manage actions
                </div>
              </div>
              <div>
                <div class="get-user-in-links .get-in-links">
                  <a href="" class="link-btn">Login / Signup</a>
                </div>
                <div class="get-in-links">
                  <div class="info" routerLink="/admin/dashboard">
                    <div class="info-section">Dashboard</div>
                  </div>
                  <div class="info">
                    <div class="info-section">Orders</div>
                  </div>
                  <div class="info">
                    <div class="info-section">Wishlist</div>
                  </div>
                  <div class="info">
                    <div class="info-section">Contact Us</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wishlist">
        <span class="material-icons-outlined icon-wishlist">
          favorite_border
        </span>
        <div class="user-title">Wishlist</div>
      </div>
      <div class="cart">
        <span class="material-icons-outlined icon-bag"> shopping_bag </span>
        <span class="badge grey">0</span>
        <div class="user-title">Bag</div>
      </div>
    </div>
  </div>
</header>
