/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html,
body {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #282c3f;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

p,
h1 {
  margin: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
