<div class="products-container row-base">
  <section style="width: 98%">
    <!-- <div class="total-items" *ngIf="this.wishlistRoute">
      <span class="text-bold">My Wishlist</span> {{ wishlistCount }} Items
    </div> -->

    <div class="products">
      <div
        class="product"
        *ngFor="let product of currentPageProducts"
        (mouseenter)="initImageSlider(product.productCode)"
        (mouseleave)="resetHover()"
      >
        <a [routerLink]="'/product-details/' + product.productCode">
          <div
            class="image-container"
            [class.z-10]="hoveredProduct === product.productCode"
          >
            <ng-container
              *ngIf="
                hoveredProduct !== product.productCode;
                else swiperTemplate
              "
            >
              <img [src]="getImageUrl(product)" class="product-img" />
            </ng-container>
            <ng-template #swiperTemplate>
              <swiper-container
                init="false"
                class="swiper-cont"
                [class.img-w]="hoveredProduct === product.productCode"
              >
                <ng-container *ngFor="let image of product.productImageList">
                  <swiper-slide class="swiper-slide">
                    <img [src]="image.imageURL" class="product-img" />
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </ng-template>
          </div>
          <span
            class="close-icon material-icons"
            (click)="removeItemFromWishlist($event, product?.cartId)"
            *ngIf="this.wishlistRoute"
          >
            close
          </span>
          <!-- *ngIf="this.wishlistRoute" -->
          <div
            class="product-info"
            (mouseenter)="initImageSlider(product.productCode)"
          >
            <h3 class="brand">{{ product.brand[0]?.name }}</h3>
            <h4 class="product-name">{{ product.name }}</h4>
            <h4 class="product-sizes">
              Sizes:
              <span
                *ngFor="let size of product.productSize; let i = index"
                class="size"
              >
                {{ size.size
                }}<span *ngIf="i < product.productSize.length - 1">, </span>
              </span>
            </h4>
            <h4 class="product-price">
              <span>
                <span class="discounted-price">Rs. {{ product.price }}</span>
              </span>
              <span class="discount-percentage"
                >({{ product.discount[0]?.percent }})</span
              >
            </h4>
          </div>
          <div class="bag-actions" *ngIf="this.wishlistRoute">
            <span
              class="product-bagFlex product-actionsButton product-bag"
              style="width: 100%; text-align: center"
              (click)="toggleModal($event, product)"
            >
              Add To Cart
            </span>
          </div>

          <div
            class="product-actions"
            *ngIf="!this.wishlistRoute"
            (mouseenter)="initImageSlider(product.productCode)"
          >
            <span
              class="product-wishlistFlex product-actionsButton product-wishlist"
              style="width: 100%; text-align: center"
              (click)="toggleFavorite($event, product?.productCode)"
              title="Add in Wishlist"
              [class.favorite-added]="favoriteStatus[product.productCode]"
            >
              <span
                class="material-icons wishlist-icon"
                title="Add in Wishlist"
                [class.favorite-added-bg]="favoriteStatus[product.productCode]"
              >
                {{
                  favoriteStatus[product.productCode]
                    ? "favorite"
                    : "favorite_border"
                }}
              </span>
              wishlist
            </span>
          </div>
        </a>
      </div>
      <h3 *ngIf="products.length == 0">No products avaialble</h3>
    </div>
    <div
      *ngIf="showModal && selectedProduct"
      class="Modal-modalContent d-block"
    >
      <div class="Modal-modalDialog">
        <div class="details-details">
          <span
            class="material-icons-outlined myntraweb-sprite Address-close-button sprites-remove"
            (click)="toggleModal($event)"
            >clear</span
          >
          <div class="dialog-base-header">Select Size</div>
          <div class="dialogs-base-qtyList">
            <div
              *ngFor="let size of selectedProduct?.productSize"
              (click)="selectSize($event, size.id)"
              [ngClass]="{
                'dialogs-base-selected': size.id === selectedSize
              }"
              class="dialogs-base-item"
            >
              <div class="dialogs-base-display">{{ size.size }}</div>
            </div>
          </div>
          <button
            (click)="doneSelection($event, selectedProduct?.productCode)"
            width="100%"
            letterspacing="1px"
            font-weight="bold"
            role="button"
            class="css-cilza6"
          >
            <div class="css-xjhrni">DONE</div>
          </button>
        </div>
      </div>
    </div>
    <div class="pagination-btns" *ngIf="products.length !== 0">
      <div
        class="prev-btn pgn-btn"
        (click)="previousPage()"
        [class.disabled]="currentPage === 1"
      >
        <span class="material-icons pgn-icon-prev"> navigate_before </span>
        <span class="btn-text">Previous</span>
      </div>
      <div class="page-nos">
        <button
          class="page-no"
          *ngFor="let page of pageNumbers"
          [class.active-page]="page === currentPage"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>
      </div>

      <div
        class="next-btn pgn-btn"
        (click)="nextPage()"
        [class.disabled]="currentPage === totalPages"
      >
        <span class="btn-text pgn-icon-next">Next</span>
        <span class="material-icons"> navigate_next </span>
      </div>
    </div>
  </section>
</div>
